services:
    postgres:
        image: postgres:16
        container_name: course_db
        environment:
            POSTGRES_USER: student
            POSTGRES_PASSWORD: password123
            POSTGRES_DB: coursedb
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
            - ./init-scripts:/docker-entrypoint-initdb.d
            
    adminer:
        image: adminer
        container_name: db_admin
        ports:
            - "8080:8080"
        depends_on:
            - postgres
volumes:
    postgres_data: